







	/**
	*
	*	PRODUCTS|SCSS
	*	--------------------
	*	DESC | Define products page styles
	*	LOCATION | styles > pages > products.scss
	*
	*/









	/*----------  STYLES  ----------*/



	// Base

	&{

				

	}



	// Banner

	.products-banner{
		
		position: relative;

		
		// Title

		.products-banner-title{

			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%, -50%, 0);
			padding: 0.8em 1em 0.6em 1em;
			background-color: rgba($color-white, 0.9);
			font-family: $text-font-content;
			font-size: 2em;

		} 

		
		// Background

		.products-banner-photo{

			display: block;
			width: 100%;

		}

	}
	