



	/**
	*
	*	UTILS|SCSS
	*	--------------------
	* 	DESC | Utils styles definition
	*	LOCATION | > styles > shared > utils.scss
	*
	*/









	/*----------  COLORS  ----------*/



	// Socials

	.color-facebook{ color: $color-facebook; }
	.color-twitter{ color: $color-twitter; }
	.color-like{ color: $color-like; }
	
	