



	<!-- HOME|HTML -->

	<!-- DESC | Home page -->
	<!-- LOCATION | > pages > home.html -->




	<!-- LAYOUT -->

	<!-- @@master ../layouts/master.html {"title": "Home", "page": "page-home" } -->




	<!-- MAIN -->

	<!-- @@block = main -->


		<!-- WEEK LOOK -->
		<a href="#" class="home-main-look col-md-12">
			<div class="look-infos">
				<span class="look-infos-subtitle">Recette-style de la semaine #44</span>
				<span class="look-infos-title">Urbaine & Stylée</span>
			</div>
			<img class="look-background" src="../storage/banner_look_1.jpg">
		</a>


		<!-- FILTERS -->
		<div class="home-filters col-md-12">
			<div class="dropdown dropdown-colors">
				<span class="dropdown-label">
					<i></i>Couleurs
				</span>
				<ul class="dropdown-items">
					<li><i style="border-color: #72d0f4;"></i>Bleu</li>
					<li><i style="border-color: #d04343;"></i>Rouge</li>
					<li><i style="border-color: #72d0f4;"></i>Bleu</li>
					<li><i style="border-color: #72d0f4;"></i>Bleu</li>
					<li><i style="border-color: #72d0f4;"></i>Bleu</li>
					<li><i style="border-color: #72d0f4;"></i>Bleu</li>
					<li><i style="border-color: #72d0f4;"></i>Bleu</li>
				</ul>
			</div>
			<div class="dropdown dropdown-events">
				<span class="dropdown-label">Evènements
				</span>
				<ul class="dropdown-items">
					<li>Casual</li>
					<li>Soirée</li>
					<li>Casual</li>
					<li>Soirée</li>
					<li>Quotidien</li>
				</ul>
			</div>
		</div>


		<!-- GRID -->
		<div class="home-grid">
			<div class="look-thumb col-md-4">
				<div class="look-thumb-picture">
					<a href="look.html" class="look-thumb-button">Voir</a>
					<img src="../storage/photo_look_4.jpg" alt="">
				</div>
				<div class="look-thumb-infos">
					<a href="look.html" class="look-thumb-subtitle">Recette #43</a>
					<a href="look.html" class="look-thumb-title">Soirée entre copines</a>
				</div>
			</div>
			<div class="look-thumb col-md-4">
				<div class="look-thumb-picture">
					<a href="look.html" class="look-thumb-button">Voir</a>
					<img src="../storage/photo_look_4.jpg" alt="">
				</div>
				<div class="look-thumb-infos">
					<a href="look.html" class="look-thumb-subtitle">Recette #43</a>
					<a href="look.html" class="look-thumb-title">Soirée entre copines</a>
				</div>
			</div>
			<div class="look-thumb col-md-4">
				<div class="look-thumb-picture">
					<a href="look.html" class="look-thumb-button">Voir</a>
					<img src="../storage/photo_look_4.jpg" alt="">
				</div>
				<div class="look-thumb-infos">
					<a href="look.html" class="look-thumb-subtitle">Recette #43</a>
					<a href="look.html" class="look-thumb-title">Soirée entre copines</a>
				</div>
			</div>
			<div class="look-thumb col-md-4">
				<div class="look-thumb-picture">
					<a href="look.html" class="look-thumb-button">Voir</a>
					<img src="../storage/photo_look_4.jpg" alt="">
				</div>
				<div class="look-thumb-infos">
					<a href="look.html" class="look-thumb-subtitle">Recette #43</a>
					<a href="look.html" class="look-thumb-title">Soirée entre copines</a>
				</div>
			</div>
			<div class="look-thumb col-md-4">
				<div class="look-thumb-picture">
					<a href="look.html" class="look-thumb-button">Voir</a>
					<img src="../storage/photo_look_4.jpg" alt="">
				</div>
				<div class="look-thumb-infos">
					<a href="look.html" class="look-thumb-subtitle">Recette #43</a>
					<a href="look.html" class="look-thumb-title">Soirée entre copines</a>
				</div>
			</div>
			<div class="look-thumb col-md-4">
				<div class="look-thumb-picture">
					<a href="look.html" class="look-thumb-button">Voir</a>
					<img src="../storage/photo_look_4.jpg" alt="">
				</div>
				<div class="look-thumb-infos">
					<a href="look.html" class="look-thumb-subtitle">Recette #43</a>
					<a href="look.html" class="look-thumb-title">Soirée entre copines</a>
				</div>
			</div>
			<div class="look-thumb col-md-4">
				<div class="look-thumb-picture">
					<a href="look.html" class="look-thumb-button">Voir</a>
					<img src="../storage/photo_look_4.jpg" alt="">
				</div>
				<div class="look-thumb-infos">
					<a href="look.html" class="look-thumb-subtitle">Recette #43</a>
					<a href="look.html" class="look-thumb-title">Soirée entre copines</a>
				</div>
			</div>
			<div class="look-thumb col-md-4">
				<div class="look-thumb-picture">
					<a href="look.html" class="look-thumb-button">Voir</a>
					<img src="../storage/photo_look_4.jpg" alt="">
				</div>
				<div class="look-thumb-infos">
					<a href="look.html" class="look-thumb-subtitle">Recette #43</a>
					<a href="look.html" class="look-thumb-title">Soirée entre copines</a>
				</div>
			</div>
			<div class="look-thumb col-md-4">
				<div class="look-thumb-picture">
					<a href="look.html" class="look-thumb-button">Voir</a>
					<img src="../storage/photo_look_4.jpg" alt="">
				</div>
				<div class="look-thumb-infos">
					<a href="look.html" class="look-thumb-subtitle">Recette #43</a>
					<a href="look.html" class="look-thumb-title">Soirée entre copines</a>
				</div>
			</div>
		</div>


	<!-- @@close -->

	