



	<!-- PRODUCT|HTML -->

	<!-- DESC | Product page -->
	<!-- LOCATION | pages > product.html -->




	<!-- LAYOUT -->

	<!-- @@master ../layouts/master.html {"title": "Product", "page": "page-product" } -->




	<!-- MAIN -->

	<!-- @@block = main -->
		

		<!-- BREADCRUMB -->
		<ul class="breadcrumb col-md-12">
			<li><a href="#">Accueil</a></li>
			<li><a href="#">Vêtements</a></li>
			<li><a href="#">Femme</a></li>
			<li><a href="#">TOPSHOP - Sandales à talons bleus</a></li>
		</ul>

		
		<!-- INFOS -->
		<div class="product-infos col-md-12">
			<div class="product-infos-photos">
				<div class="photos-thumbs">
					<img src="../storage/photo_product_1.jpg" alt="">
					<img src="../storage/photo_product_1.jpg" alt="">
					<img src="../storage/photo_product_1.jpg" alt="">
				</div>
				<img src="../storage/photo_product_1.jpg" alt="" class="photos-main">
			</div>
			<div class="product-infos-content">
				<h1 class="content-title">Sandales à talons bleues</h1>
				<a href="#">Voir sur Zalando</a>
			</div>
		</div>


		<!-- LOOKS -->
		<div class="product-looks col-md-12">
			<span class="product-looks-title">Apparait dans : </span>
			<div class="row">
				<div class="look-thumb col-md-4">
					<div class="look-thumb-picture">
						<a href="look.html" class="look-thumb-button">Voir</a>
						<img src="../storage/photo_look_4.jpg" alt="">
					</div>
					<div class="look-thumb-infos">
						<a href="look.html" class="look-thumb-subtitle">Recette #43</a>
						<a href="look.html" class="look-thumb-title">Soirée entre copines</a>
					</div>
				</div>
				<div class="look-thumb col-md-4">
					<div class="look-thumb-picture">
						<a href="look.html" class="look-thumb-button">Voir</a>
						<img src="../storage/photo_look_4.jpg" alt="">
					</div>
					<div class="look-thumb-infos">
						<a href="look.html" class="look-thumb-subtitle">Recette #43</a>
						<a href="look.html" class="look-thumb-title">Soirée entre copines</a>
					</div>
				</div>
				<div class="look-thumb col-md-4">
					<div class="look-thumb-picture">
						<a href="look.html" class="look-thumb-button">Voir</a>
						<img src="../storage/photo_look_4.jpg" alt="">
					</div>
					<div class="look-thumb-infos">
						<a href="look.html" class="look-thumb-subtitle">Recette #43</a>
						<a href="look.html" class="look-thumb-title">Soirée entre copines</a>
					</div>
				</div>
			</div>
		</div>


	<!-- @@close -->