<!DOCTYPE html>
<html lang="fr">


<head>

	<!-- METAS -->
	<meta charset="UTF-8">
	<title><!-- @@var title --></title>

	<link rel="stylesheet" href="../assets/styles/style.css">

</head>


<body class="<!-- @@var page --> container">


	<!-- HEADER -->

	<header class="header">
		
		<!-- LOGO -->
		<a href="home.html" class="header-logo">
			<img src="../assets/medias/images/logo.png" alt="">
		</a>

		<!-- SWITCH -->
		<div class="header-gender-switch switch active-left">
			<span class="switch-label switch-label-left" data-value="homme">Homme</span>
			<span class="switch-input"></span>
			<span class="switch-label switch-label-right" data-value="femme">Femme</span>
			<input value="homme" type="hidden" class="switch-value"/>
		</div>

		<!-- NAVIGATION -->
		<nav class="header-navigation">
			<ul>
				<li><a href="#">Vêtements</a></li>
				<li><a href="#">Les recettes</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#"><i class="fa fa-search"></i></fa></a></li>
			</ul>
		</nav>

	</header>



	<!-- MAIN -->

	<main class="main">
		
		<!-- @@placeholder= main -->

	</main>



	<!-- FOOTER -->

	<footer class="footer">
		
		<span class="footer-copyright">Copyright 2015</span>

		<nav class="footer-nav">
			<ul>
				<li><a href="#">Contact</a></li>
				<li><a href="#">Archives</a></li>
			</ul>
		</nav>

	</footer>

	
</body>



	
	<!-- SCRIPTS -->

	<script type="text/javascript" src="../assets/js/librairies/jquery.js"></script>
	<script type="text/javascript" src="../assets/js/scripts/app.js"></script>


</html>