<!DOCTYPE html>
<html lang="fr">


<head>

	<!-- METAS -->
	<meta charset="UTF-8">
	<title><!-- @@var title --></title>

	<link rel="stylesheet" href="../assets/styles/style.css">

</head>


<body class="container">


	<!-- HEADER -->

	<header class="header">
		
		<!-- LOGO -->
		<a href="home.html" class="header-logo">
			<img src="../assets/medias/images/logo.png" alt="">
		</a>

		<!-- SWITCH -->
		<div class="header-gender-switch switch active-left">
			<span class="switch-label">Homme</span>
			<span class="switch-input"></span>
			<span class="switch-label">Femme</span>
		</div>

	</header>



	<!-- MAIN -->

	<main class="main">
		
		

	</main>



	<!-- FOOTER -->

	<footer class="footer">
		
		

	</footer>

	
</body>



	
	<!-- SCRIPTS -->

	<script src="../assets/js/librairies/jquery.js"></script>


</html>