



	/**
	*
	*	HEADER|SCSS
	*	--------------------
	*	DESC | Define header shared styles
	*	LOCATION | > shared > partials > header.scss
	*
	*/






	/*----------  VARIABLES  ----------*/



	// Dimensions

	$header-dimensions-height: 80px;


	// Spacings

	$header-spacings-vertical-margin: 4em;












	/*----------  STYLES  ----------*/



	// Base

	.header{

		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: $header-dimensions-height;
		margin: $header-spacings-vertical-margin 0;
		font-family: $text-font-titles;

	}


	// Logo

	.header-logo{

		display: block;
		height: 100%;

		img{

			display: block;
			height: 100%;

		}

	}


	// Switch
	
	.header-gender-switch{
		
		display: block;
		font-size: 0.9em;

	}


	// Navigation

	.header-navigation{


		// List

		ul{


			// Item

			li{

				display: inline-block;
				vertical-align: middle;
				margin-right: 2em;

				&:last-child{ margin-right: 0; }


				// Link

				a, i{

					font-size: 0.9em;
					text-transform: uppercase;
					text-decoration: none;
					color: $color-black;
					font-weight: 700;
					transition: color 0.2s ease;

					&:hover, &.active{ color: $color-primary-lte; }

				}

				i{ font-size: 1em; font-weight: 400; }

			}

		}

	}
	